@font-face {
    font-family: "General-Sans";
    src: url("../../fonts/woff/GeneralSans-Regular.woff") format("woff"), url("../../fonts/woff2/GeneralSans-Regular.woff2") format("woff2"),
        url("../../fonts/ttf/GeneralSans-Regular.ttf") format("truetype"), url("../../fonts/eot/GeneralSans-Regular.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-display: auto;
}

@font-face {
    font-family: "General-Sans-Medium";
    src: url("../../fonts/woff/GeneralSans-Medium.woff") format("woff"), url("../../fonts/woff2/GeneralSans-Medium.woff2") format("woff2"),
        url("../../fonts/ttf/GeneralSans-Medium.ttf") format("truetype"), url("../../fonts/eot/GeneralSans-Medium.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    font-display: auto;
}

@font-face {
    font-family: "General-Sans-Semibold";
    src: url("../../fonts/woff/GeneralSans-Semibold.woff") format("woff"), url("../../fonts/woff2/GeneralSans-Semibold.woff2") format("woff2"),
        url("../../fonts/ttf/GeneralSans-Semibold.ttf") format("truetype"),
        url("../../fonts/eot/GeneralSans-Semibold.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    font-display: auto;
}

@font-face {
    font-family: "General-Sans-Bold";
    src: url("../../fonts/woff/GeneralSans-Bold.woff") format("woff"), url("../../fonts/woff2/GeneralSans-Bold.woff2") format("woff2"),
        url("../../fonts/ttf/GeneralSans-Bold.ttf") format("truetype"), url("../../fonts/eot/GeneralSans-Bold.eot") format("embedded-opentype");
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    font-display: auto;
}
